body{
	background-color: #FFDC7F;
}


#animalgifs{
	float: left;
    width: 60%;
    margin-top: 2%;
}
#animal-form{
	float: right;
	margin-right: 4%;
    margin-top: 4%;
}
.gif{
	padding: 1%;
}
.animal{
	width: 13%;
	background-color: #D9FFD5;
	border-style: inset;
	border-width: 4px;
	border-radius: 10px;
	margin: 5px;
}
.container{
	margin: 4%;
}
img{
	border-style: inset;
	border-width: thin;
	margin: 10px;
}